<div class="page">
  <header>
    <h1>Cham take away</h1>
    <h2><%= t ".strap" %></h2>
  </header>
  <div class="filters">
    <%= link_to t(".filter_open"), localized_path(filters: filter_toggle_for(filter: "open", filters: @filters)), class: filter_class(filter: "open", filters: @filters) %>
    <%= link_to t(".filter_delivers"), localized_path(filters: filter_toggle_for(filter: "delivers", filters: @filters)), class: filter_class(filter: "delivers", filters: @filters) %>
    <%= link_to t(".filter_clear"), localized_path, class: has_filter_class(filters: @filters) %>
  </div>
  <div class="mapContainer" data-controller="map">
    <div data-target="map.centreLatitude" style="display: none"></div>
    <div data-target="map.centreLongitude" style="display: none"></div>
    <div id="map" class="map" data-target="map.canvas" data-turbolinks-permanent></div>
  </div>
  <div class="results-container" data-controller="sort">
    <%= button_tag t(".sort_nearest"), class: "btn btn--sort", id: "sortNearest", data: { action: "click->sort#nearest" }%>
    <div class="content" data-target="sort.vendors">
      <%= render partial: 'vendor', collection: @vendors %>
    </div>
  </div>

  <div class="footer">
    <%= raw t ".footer_text", email: "<a href=\"mailto:takeaway@spathon.com\">email</a>" %>
    <br />
    <%= t ".footer_created" %> <a href="https://github.com/njpearman">Neill</a> & <a href="https://spathon.com">Spathon</a>.
  </div>
</div>

<div class="lang">
  <%= link_to localized_path(locale: :en), class: current_lang_class(locale: 'en', current_locale: params[:locale]), title: "English" do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30">
      <clipPath id="t">
        <path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"/>
      </clipPath>
      <path d="M0,0 v30 h60 v-30 z" fill="#00247d"/>
      <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"/>
      <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t)" stroke="#cf142b" stroke-width="4"/>
      <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"/>
      <path d="M30,0 v30 M0,15 h60" stroke="#cf142b" stroke-width="6"/>
    </svg>
  <% end %>
  <%= link_to localized_path(locale: :fr), class: current_lang_class(locale: 'fr', current_locale: params[:locale]), title: "Français" do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 2">
      <rect width="3" height="2" fill="#ED2939"/>
      <rect width="2" height="2" fill="#fff"/>
      <rect width="1" height="2" fill="#002395"/>
    </svg>
  <% end %>
</div>
