<div class="page">
  <header>
    <h1>Cham take away</h1>
    <h2>Where you can get take away and delivery, and when those places are open.</h2>
  </header>
  <div class="content">
    <% @vendors.each do |vendor| %>
      <div class="place<%= vendor.delivers ? " vendor--delivers" : "" %>">
        <div class="title"><%= vendor.name %></div>
        <% if vendor.open_today? %>
          <div class="opening">
            Open today
            <% vendor.hours_for_today.each do |range| %>
              <div><%= range %></div>
            <% end %>
          </div>
        <% else %>
          <div class="opening">Not opening today</div>
        <% end %>

        <div class="meta">
          <div class="contact">
            <%= render partial: "location", locals: { location: vendor.location, name: vendor.name } %>
          </div>
          <% vendor.contact_channels.each do |contact| %>
            <div class="contact">
              <%= contact.name %>: <a href="<%= contact.value %>"><%= contact.label %></a>
            </div>
          <% end %>
        </div>

        <div class="space-between">
          <div class="delivers<%= vendor.delivers ? " open" : ""%>">Delivers: <%= vendor.delivers ? "âœ“" : "ð„‚" %></div>
          <div class="open-days">
            <% %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday].each do |day| %>
              <span class="day<%= vendor.open_on?(day) ? " open" : "" %>"><%= day[0] %></span>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="footer">
    Please contact our <a href="mailto:takeaway@spathon.com">email</a> if you know more places or if some info is wrong.
    <br />
    Created by Neill & Spathon.
  </div>
</div>
