<div class="page">
  <header>
    <h1>Cham take away <%= link_to "English", localized_path(locale: :en) %> <%= link_to "Francais", localized_path(locale: :fr) %></h1>
    <h2><%= t ".strap" %></h2>
  </header>
  <div class="filters">
    <%= link_to t(".filter_open"), localized_path(filters: filter_toggle_for(filter: "open", filters: @filters)), class: filter_class(filter: "open", filters: @filters) %>
    <%= link_to t(".filter_delivers"), localized_path(filters: filter_toggle_for(filter: "delivers", filters: @filters)), class: filter_class(filter: "delivers", filters: @filters) %>
    <%= link_to t(".filter_clear"), localized_path, class: has_filter_class(filters: @filters) %>
  </div>
  <div class="content">
    <% @vendors.each do |vendor| %>
      <div class="place<%= vendor.delivers ? " vendor--delivers" : "" %>">
        <div class="title"><%= vendor.name %></div>
        <% if vendor.open_today? %>
          <div class="opening">
            <span class="open-text"><%= t ".open_today" %></span>
            <% vendor.hours_for_today.each do |range| %>
              <div><%= range %></div>
            <% end %>
          </div>
        <% else %>
          <div class="opening closed-text"><%= t ".closed_today" %></div>
        <% end %>

        <% if vendor.information %>
          <div class="meta">
            <%= simple_format(vendor.information) %>
          </div>
        <% end %>

        <div class="meta">
          <div class="contact">
            <%= render partial: "location", locals: { location: vendor.location, name: vendor.name } %>
          </div>
          <% vendor.contact_channels.order(:name).each do |contact| %>
            <div class="contact">
              <span class="contact__label">
                <i class="demo-icon icon-<%= contact.name %>" title="<%= contact.name %>"></i>
              </span>
              <a href="<%= contact.value %>"><%= contact.label %></a>
            </div>
          <% end %>
        </div>

        <div class="place__footer space-between">
          <div class="delivers<%= vendor.delivers ? " open" : ""%>"><%= t ".delivers", icon: (vendor.delivers ? "âœ“" : "ð„‚") %></div>
          <div class="open-days">
            <% Date::DAYNAMES.each do |day| %>
              <span class="day<%= vendor.open_on?(day) ? " open" : "" %>"><%= t("date.days.#{day.downcase}")[0] %></span>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="footer">
    Please contact our <a href="mailto:takeaway@spathon.com">email</a> if you know more places or if some info is wrong.
    <br />
    Created by <a href="https://github.com/njpearman">Neill</a> & <a href="https://spathon.com">Spathon</a>.
  </div>
</div>
